@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');


* {
   /* transition: all 1s;  */
   font-family: 'Delius', cursive;
    box-sizing: border-box;
}



body{
    background-image: url("https://cdn.pixabay.com/photo/2016/03/17/23/09/poker-1264076_960_720.jpg");
    background-size: 100vw 100vh ;
    background-blend-mode: multiply;
    background-color: #315464;
    /* border: 2px solid black; */
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(73, 72, 72);
    text-align: center;
    font-size: 7ch;
    background-color: #c6ac8f;
    margin: 0 auto;
    max-width: max-content;
    padding: 0 3rem;
    font-family: 'Abril Fatface', cursive;
    border-radius: 3px;
    -webkit-text-stroke: 1px #192c35;
    margin-top: 10px;
    
}
/* h1:hover{
    box-shadow: ;
} */

#message{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 4ch;
    color: aliceblue;
    font-style: italic;
}
p{
    color: white;
    text-align: center;
    font-size: 4ch;
}
.btn {
    display: flex;
    justify-content: center;
}
button{
    min-width: 8rem;
    padding: 1rem;
    background-color: #a7a6a4;
    color: black;
    border-radius: 5px;
    font-size: 2ch;
    font-weight: bolder;
    box-shadow: 4px 4px black;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover{
    background-color: red;
    box-shadow: none;
    color: white;
}

