@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

:root {
    --secondary-color : #c6ac8f;
    --title-text-color: rgb(73, 72, 72);
}

* {
   /* transition: all 1s;  */
   font-family: 'Delius', cursive;
    box-sizing: border-box;
}



body{
    /* background-image: url("https://cdn.pixabay.com/photo/2016/03/17/23/09/poker-1264076_960_720.jpg"); */
    background-image: url(poker-1264076_1920.jpg);
    background-size: 100vw 100vh ;
    background-blend-mode: multiply;
    background-color: #315464;
    /* border: 2px solid black; */
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1{
    color: var(--title-text-color);
    text-align: center;
    font-size: 7ch;
    background-color: var(--secondary-color);
    margin: 0 auto;
    max-width: max-content;
    padding: 0 3rem;
    font-family: 'Abril Fatface', cursive;
    border-radius: 3px;
    -webkit-text-stroke: 1px #192c35;
    margin-top: 10px;
    
}
/* h1:hover{
    box-shadow: ;
} */

#message{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 4ch;
    color: aliceblue;
    font-style: italic;
}
p{
    color: white;
    text-align: center;
    font-size: 4ch;
}
.btn {
    display: flex;
    justify-content: center;
}
button{
    min-width: 8rem;
    padding: 1rem;
    background-color: #a7a6a4;
    color: black;
    border-radius: 5px;
    font-size: 2ch;
    font-weight: bolder;
    box-shadow: 4px 4px black;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover{
    background-color: red;
    box-shadow: none;
    color: white;
}
.alert {
    font-size: larger;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--secondary-color);
    color: black;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: var(--title-text-color);
    font-weight: bold;
    float: right;
    font-size: 3rem;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: red;
  }  
  #instruction{
    background-color: #315464;
    color: white;
  }

